---
import { getCollection, render } from 'astro:content';

const resources = await getCollection('resources');
const archives = await getCollection('archives');
---
<nav>
  <ul>
    <li>/resources
      <ul>
        { resources.map((resource) => <li><a href=`/resources/${resource.data.title}`>{ resource.data.title }</a></li>) }
      </ul>
    </li>
    <li>/archives
      <ul>
        { archives.map((archive) => <li><a href=`/archives/${archive.data.title}`>{ archive.data.title }</a></li>) }
      </ul>
    </li>
    <li>
        /journals
    </li>
  </ul>
</nav>

<style>
  nav {
    width: 20%;
    border-right: solid;
    border 1px;
    border-color: gray;
    margin-right: 2em;
  }
  ul {
    list-style: none;
    margin: 0;
  }
</style>
